{% extends 'base.html.twig' %}

{% block title %} Prékar {% endblock %}

{% block body %}

<div class="conteneur">
    <div class="boiteDeRecherche">
        <input type="text" placeholder="Mots clefs" id="motsClefs">
        <div class="date">
            <label for="dateDebut">Début : </label>
            <input type="datetime-local" placeholder="Date début" id="dateDebut" value="{{ dateAujourdhui }}" min="{{ dateAujourdhui }}">
            <label for="dateFin">Fin : </label>
            <input type="datetime-local" placeholder="Date fin" id="DateFin">
        </div>
        <button id="BoutonRecherche">Rechercher</button>
    </div>
</div>

{% endblock %}
