{% extends 'base.html.twig' %}

{% block title %} Prékar {% endblock %}

{% block body %}

<div class="conteneur bg-pink-500">
    <div class="boiteDeRecherche">
        <input type="text" placeholder="Mots clefs" id="motsClefs">
        <div class="date">
            <label for="dateDebut">Début : </label>
            <input type="date" placeholder="Date début" id="dateDebut" value="{{ dateAujourdhui }}" min="{{ dateAujourdhui }}">
            <label for="dateFin">Fin : </label>
            <input type="date" placeholder="Date fin" id="DateFin" value="{{ dateAujourdhui }}" min="{{ dateAujourdhui }}">
        </div>
        <button id="BoutonRecherche" class="relative btn-rainbow bg-accent text-white font-bold py-2 px-4 overflow-hidden transition duration-300">
            Rechercher
        </button>
    </div>
    <div class="souscriptionAbonnement">
        <label for="BoutonSouscriptionAbonnement">Pensez à prendre votre abonnement : </label>
        <button id="BoutonSouscriptionAbonnement" class="relative btn-rainbow bg-accent text-white font-bold py-2 px-4 overflow-hidden transition duration-300">
            Abonnement
        </button>
    </div>
</div>



{% endblock %}
