{% extends 'base.html.twig' %}

{% block title %}Hello ListePaiementController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="flex flex-row font-bold bg-header p-2 border-gray-300 text-center text-green-200">
        <div class="flex-1">Montant</div>
        <div class="flex-1">Date</div>
    </div>
    {% for paiement in paiements %}
        <div class="flex flex-row items-center p-2 divide-x divide-red-500 hover:bg-row text-center">
            <div class="flex-1 px-2">{{paiement.montant}}</div>
            <div class="flex-1 px-2">{{paiement.date|date('d-m-Y')}}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
