{% extends 'base.html.twig' %}

{% block title %}Litiges{% endblock %}

{% block body %}
<div class="container bg-content mx-auto p-4 rounded-xl">
    <div class="flex flex-row font-bold bg-header p-2 border-gray-300 text-center text-green-200">
        <div class="flex-1">Nom Prenom</div>
        <div class="flex-1">Date</div>
        <div class="flex-1">Action</div>
    </div>
    {% for litige in litiges %}
        <div class="flex flex-row items-center p-2 divide-x divide-red-500 hover:bg-row text-center">
            <div class="flex-1 px-2">{{litige.location.locataire.nom}} {{litige.location.locataire.prenom}} </div>
             <div class="flex-1 px-2">{{litige.location.dateDebut|date('d/m/Y')}}</div>
            <div class="flex-1 px-2">
                {% if litige.statut == 1 %}
                    <p>Traité</p>
                {% else %}
                    <a href=" {{ path('app_gerer_litige', {id: litige.id}) }}" class="bg-red-500 px-4 py-2 rounded-full hover:underline ml-2">Gerer</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}