{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block bandeau %}
{% include 'bandeau.html.twig' with { title: "Connexion" } %}
{% endblock %}

{% block body %}
    <h2>Réinitialisation du mot de passe</h2>

    <form method="post">
        <input type="password" name="password" placeholder="Nouveau mot de passe" required>
        <button type="submit">Réinitialiser</button>
    </form>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

{% endblock %}