{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block bandeau %}
{% include 'bandeau.html.twig' with { title: "Connexion" } %}
{% endblock %}

{% block body %}
    <h2>Réinitialisation du mot de passe</h2>

    <form method="post">
        <input type="password" name="password" placeholder="Nouveau mot de passe" required id="password">
        <input type="password" name="confirm_password" placeholder="Confirmer le mot de passe" required id="confirm_password">
        <button type="submit">Réinitialiser</button>
    </form>

    <script>
        const password = document.getElementById("password");
        const confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Les mots de passe ne correspondent pas");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

{% endblock %}