@import "tailwindcss";

@theme {
    --color-primary: #F55ED5;
    --color-secondary: #FCD0F3;
    --color-accent: #801D6B;
    --color-accentHover: #a7278b;

    --color-tab: #fcb6dc;
    --color-row: #c4719e;
}

body {
    background-image: url("/roze.png");
    background-position: center;
    background-size: cover;
}

#dropdown-menu-profile {
    @apply absolute right-0 mt-2 w-48 py-2 rounded-md shadow-xl z-20 bg-secondary
}

#dropdown-menu-profile a {
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-tab border-b border-row
}

#dropdown-menu-profile a:first-child {
    @apply border-t
}

/***************************/
/*   FORMULAIRES   */
/**************************/
input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

input[disabled] {
    background: #000;
    color: var(--color-white);
}

button {
    @apply px-4 py-2 rounded-full text-3xl cursor-pointer
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-label {
    @apply relative flex items-center relative m-0 cursor-pointer
}

.checkbox-input + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-accent);
    margin-right: 10px;
    @apply rounded-md
}

.checkbox-input:checked + label:before {
    background-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.form-calendar-year select[id*="month"],
.form-calendar-year select[id*="day"] {
    display: none;
}

.error {
    color: #C63940;
    font-weight: bolder;
}

button[type="submit"] {
    background: #f00;
    @apply relative text-white font-bold py-2 px-4 overflow-hidden transition duration-300
}

.btn-rainbow:hover {
    background: linear-gradient(135deg,
    #ff0000, #ff7300, #ffeb00, #47ff00,
    #00ffee, #2b65ff, #8000ff, #ff00e1);
    background-size: 300%;
    animation: rainbow 5s cubic-bezier(0.4, 0, 1, 1);
}

/***************************/
/*   KEYFRAMES   */
/**************************/
@keyframes upper {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}

@keyframes rainbow {
    0% { background-position: 0 0; }
    50% { background-position: 100% -150%; }
    100% { background-position: 100% -150%; }
}