<footer class="bg-accent text-white">
    <div class="mx-auto w-full max-w-screen-xl p-2 md:py-4">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="{{ path('app_home_page') }}" class="flex items-center">
                <img src="{{ asset('roze.png') }}" class="h-8" alt="Logo prékar" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Prékar</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">A propos</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">CGV/CGU</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-2 border-gray-200 sm:mx-auto" />
        <span class="block text-sm sm:text-center">© 2025 Prékar.</span>
    </div>
</footer>

