<nav class="bg-white border-b- border-black text-black p-4">
    <div class="container mx-auto flex justify-between">
        <a href="" class="font-bold text-lg">
            <img src="" alt="">
            Prékar
        </a>
        <span class="tracking-widest text-3xl">
            {{ title }}
        </span>
        <a href="{{ path('app_formulaire_ajoutVehicule') }}" class="font-bold text-lg">
            <img src="" alt="">
            Ajouter un véhicule
        </a>
        <a href="">
            <img src="" alt="">
        </a>
    </div>
</nav>
