{% extends 'base.html.twig' %}

{% block title %}Hello ListeOffresController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container bg-secondary mx-auto p-4 rounded-xl">
    <div class="flex flex-row font-bold bg-gray-100 p-2 border-b border-gray-300 text-center">
        <div>Marque</div>
        <div>Modèle</div>
        <div>Date debut</div>
        <div>Date fin</div>
        <div>Prix</div>
    </div>

    <div class="flex flex-col divide-y divide-red-500">
        {% for offre in offres %}
            <div class="flex flex-row items-center p-2 divide-x divide-red-500 hover:bg-row text-center">
                <div class="flex-1 px-2">{{ offre.vehicule.marque }}</div>
                <div class="flex-1 px-2">{{ offre.vehicule.modele }}</div>
                <div class="flex-1 px-2">{{ offre.prix}} €</div>
                <div class="flex-1 flex px-2">
                    <a href="gerer/{{offre.id}}" class="bg-green-500 px-4 py-2 rounded-full hover:underline ml-2">Gerer</a>
                </div>
            </div>
        {% else %}
            <div class="flex flex-row items-center p-2 text-gray-500">
                <div class="flex-1 text-center">
                    Vous n'avez pas encore de véhicule en location.
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
