<p>Bonjour,</p>

<p>Vous avez sélectionné un abonnement d'un prix de {{ abonnement.prix }}, jusqu'au {{ abonnement.dateFin|format_datetime('full', 'none', locale: 'fr') }} }}.</p>
<p>Bonne journée !</p>
