<p>Bonjour,</p>

<p>Un utilisateur a loué le véhicule {{ location.offre.vehicule.titre }} du {{ location.dateDebut|format_datetime('full', 'none', locale: 'fr') }} au {{ location.dateFin|format_datetime('full', 'none', locale: 'fr') }}.</p>

<p>Bonne journée !</p>
