<p>Bonjour,</p>

<p>Vous avez sélectionné l'offre {{ location.offre.vehicule.titre }} du {{ location.dateDebut|format_datetime('full', 'none', locale: 'fr') }} au {{ location.dateFin|format_datetime('full', 'none', locale: 'fr') }}.</p>
<p>Vous avez payé {{ location.prix }} €.</p>
<p>Bonne journée !</p>
